<app-navbar></app-navbar>

<div *ngIf="user; else nada ">
    <div class="cadastroaposta">
        <h2 class="title">Cadastrar Nova Aposta</h2>
        <form class="form-aposta" [formGroup]="form" (submit)="cadastrarAposta()">
            <div class="info-inputs">
                <label for="nome">Nome da Aposta</label>
                <input class="input-square" type="text" id="nome" formControlName="nome">
            </div>
            <br>
            <div class="info-inputs">
                <label for="numeroCavalos">Número de Cavalos</label>
                <input class="input-square" type="number" id="numeroCavalos" formControlName="numeroCavalos">
            </div>
            <br>
            <button type="submit" [disabled]="form.invalid">Cadastrar Aposta</button>
        </form>
    </div>
    <hr>
    <div class="final-box">
        <h2 class="final-box-title">Apostas disponíveis: {{ numberOfApostas }}</h2>
        <button routerLink="/aposta">Ver Apostas</button>
    </div>
</div>
<ng-template #nada>
    <h2 class="naologado">Você não está logado!</h2>
</ng-template>