<header>
    <app-navbar></app-navbar>
    <section class="header-content">
        <figure class="header-img">
            <img src="../../../assets/images/horse-bet.png" alt="HorseBet">
        </figure>
        <div class="header-description container">
            <h2 class="header-title">Apostas e Diversões</h2>
            <p>Explore a emoção das corridas de cavalos conosco. 
                No nosso site, você encontrará uma plataforma segura e emocionante para apostar nos seus cavalos favoritos. 
                Desde os hipódromos mais prestigiados até corridas emocionantes em todo o mundo, 
                oferecemos uma experiência de apostas simples e direta.
            </p>
            <p>
                Descubra as últimas probabilidades, acompanhe os resultados ao vivo e desfrute de promoções exclusivas que tornam cada aposta ainda mais emocionante. 
                Nosso compromisso com a transparência e a integridade garante que você possa apostar com confiança,
                sabendo que estamos aqui para proporcionar diversão e entretenimento de qualidade.
            </p>
            <p>
                Junte-se à comunidade de entusiastas de corridas de cavalos e comece a sua jornada emocionante hoje mesmo. 
                Aventure-se no fascinante mundo das apostas em cavalos conosco!
            </p>
            <button class="type-button" [routerLink]="user ? '/aposta' : '/cadastro'">Comece agora mesmo!</button>
        </div>
    </section>
</header>