<header>
    <nav class="header-nav container flex-container">
        <h1 class="logo"><a class="logo-link" href="#">Horse Bet</a></h1>
        <ul class="header-menu flex-container">
            <li><a class="header-menu-link" href="">Apostas</a></li>
            <li><a class="header-menu-link" href="">Corridas</a></li>
            <li><a class="header-menu-link" href="">Histórico</a></li>
        </ul>
        <button routerLink="/cadastro" class="ghost-button">Cadastrar</button>
    </nav>
    <section class="header-content">
        <figure class="header-img">
            <img src="../../../assets/images/horse-bet.png"
                alt="HorseBet">
        </figure>
        <div class="header-description container">
            <h2 class="header-title">Apostas e Diversões</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit labore rem illum totam dolorem quam saepe harum
                reprehenderit consequatur fugit praesentium dolore delectus modi, veritatis debitis officiis enim
                blanditiis facere!</p>
            <button class="type-button">Comece agora mesmo!</button>
        </div>
    </section>
</header>