<header>
    <app-navbar></app-navbar>
    <section class="header-content">
        <figure class="header-img">
            <img src="../../../assets/images/horse-bet.png" alt="HorseBet">
        </figure>
        <div class="header-description container">
            <h2 class="header-title">Apostas e Diversões</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit labore rem illum totam dolorem quam saepe harum
                reprehenderit consequatur fugit praesentium dolore delectus modi, veritatis debitis officiis enim
                blanditiis facere!</p>
            <button class="type-button">Comece agora mesmo!</button>
        </div>
    </section>
</header>