<app-navbar></app-navbar>
<div class="lista-apostas" *ngIf="apostas$ | async as apostas">
    <h2 class="title">Minhas participações em apostas:</h2>
    <div class="apostas-anteriores" *ngFor="let aposta of apostas">
        <div class="aposta-cavalo" *ngIf="user.email === aposta.participante; else nada">
            <!-- Fazer com que essa query a baixo funcione -->
            <!-- <ng-container *ngIf="aposta.usuariosParticipantes.email === user.email"> -->
            <ng-container>
                <p class="informations-title">Informações sobre a Corrida</p>
                <p>Número de cavalos: <span>{{ aposta.numeroCavalos }}</span></p>
                <p>Local da Corrida:</p>
                <p><span>{{aposta.estadoCorrida}} - {{aposta.cidadeCorrida}} - {{aposta.localCorrida}}</span></p>
            </ng-container>
        </div>
        <ng-template #nada>
        </ng-template>
    </div>
</div>